<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chanakya</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Chanakya" />
    <meta name="description" content="{{ config.description }}" />
    <meta name="theme-color" content="#f53d5c" />
    <meta name="google-site-verification" content="qho6LUTU0hTe7r6Slj67fZhj2aTZ7MvQ4N-PQ2X_u0U" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" />
    
    <link rel="stylesheet" href="/webcard.css" />
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <main>
      <h1>Chanakya</h1>
      <nav class="OneCard">
    <!--<ul>
       {% set socialdata = load_data(path="src/social_links.json", format="json") %}
      {% set sociallimited = socialdata.data | slice(end=count) %}
      {% for link in sociallimited %}
        <li>
          <a class="social-link" href="{{ link.link }}" title="{{ link.title }}" target="_blank" rel="noreferrer">
            <svg viewbox="{{ link.viewBox }}"><path d="{{ link.svg }}"/></svg>
          </a>
        </li>
      {% endfor %} 
    </ul> -->
      </nav>
    </main>
  </body>
</html>